<div class="content">
  <div class="caption">YOUR SCROLL POSITION IS</div>
  <div class="scroll-position">0</div>
  <div class="scroll-bar-container">
    <div class="scroll-bar"></div>
  </div>
</div>

<div class="scrollbox"></div>